@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
.button{
    background-color: rgb(238, 231, 128);

}
:root{
    font-family: 'Yusei Magic', sans-serif;  
      
}
body {
 background:linear-gradient(-45deg, #ff9966,#ff85bc,#ffcc66);
 animation: change 10s ease-in-out infinite;
	vertical-align: middle;
  }
  @keyframes change {
	0%{
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
	  
}
 
.apple{max-width: 500px;
margin: auto;}
